body {
    padding-top: 50px;
    padding-bottom: 20px;

}



.table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1150px;
    max-width: 1150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .table th,
    .table td {
        padding: 12px 15px;
    }

    .table tr:first-child {
        background-color: black;
        color: #ffffff;
        text-align: left;
    }

    .table tbody tr {
        border-bottom: thin solid #dddddd;
    }

        .table tbody tr:nth-of-type(even) {
            background-color: aliceblue;
        }

        .table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .table tbody tr:hover:not(:first-child) {
            font-weight: bold;
            background-color: aquamarine;
            font-size: larger;
        }

    .table tr > th > a:first-child {
        color: white;
    }

    .table td {
        text-align: left;
        width: 20%;
    }
    .table th {
        text-align: left;
        width: 20%;
    }


.dodajSzkolenie {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: right;
    position: relative;
    font-size: large;
    width: auto;
    float: right;
}

.lab {
    padding-top: 15px;
    padding-bottom: 10px;
    float: left;
    width: auto;
}

.szukaj {
    padding-top: 10px;
    position: relative;
    text-align: right;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
