@model SZS.Wyksztalcenie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wyksztalcenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edytuj", new { id = Model.Id }) |
    @Html.ActionLink("Wróć", "Index")
</p>
