
@{
    ViewBag.Title = "Usuwanie";
}

<h2>Czy chcesz usunąć tego użytkownika?</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        @Html.ActionLink("Wróć", "Index")
    </div>
}